<h1>Results</h1>
<% @results.each do |user| %>
	<%= link_to user_path(user) do %>
			<div class="card">
				<img class="user-image" src="<%=user.image%>" />
				<div class="user-name"><%= user.name %></div>
				<div class="user-school"><%= user.school %></div>
				<div class="user-location"><%= user.location %></div>
			</div>
		<% end %>
<% end %>

