<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>

<div class="center jumbotron">
  <h1>Welcome to Square Code Camp</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
 
     <div id="container1" style="position: relative; width: 600px; max-height: 300px; margin: 0px;"></div>
     <script>
      var map = new Datamap({
        scope: 'world',
        element: document.getElementById('container1'),
        projection: 'mercator',
        width: 600,
        height: 500,
        fills: {
          defaultFill: '#282d35',
          <% @users.each do |user| %>
            "<%=user.image%>": 'url(<%=user.image%>)',
          <% end %>
        },

        geographyConfig: {
            highlightOnHover: false,
            popupOnHover: false,
            borderColor: '#ec5151'
        },
        bubblesConfig: {
            highlightOnHover: false,
        },
        
        data: {}
      })
      
      
      //sample of the arc plugin
      map.arc([], {strokeWidth: 0});
       
      
       //bubbles, custom popup on hover template
     map.bubbles([  

      <% @users.each do |user| %>
      { name: "<%= user.name %>", latitude: <%= user.lat %>, longitude: <%= user.long %>, fillKey: "<%= user.image %>", radius: 10},
      <% end %>

     ], {
       popupTemplate: function(geo, data) {
         return "<div class='hoverinfo'>" + data.name + "</div>";
       }
     });
     </script>
</body>
